*{
  margin: 0;
  padding: 0;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #eee;
}

nav{
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: #aaa 0 1px 5px;
  background-color: #343a40;
  z-index: 8;
}
nav .logo{
  float: left;
  color: #fff;
  line-height: 50px;
  font-size: 24px;
  margin: 0 10px;
}
nav ul{
  float: right;
}
nav ul li{
  float: left;
  height: 30px;
  margin: 10px 15px;
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  line-height: 30px;
  padding: 5px;
  border-radius: 5px;
}
nav ul li a:hover{
  background-color: #49515a;
}

.container{
  padding-top: 60px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.container .left,
.container .right
{
  width: 250px;
  height: 600px;
  margin:0 10px;
  float: left;
  position: fixed;
  top: 70px;
}
.container .left{
  left: 0;
}
.container .right{
  right:0;
}
.container .k{
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  box-shadow: #aaa 0 1px 3px;
  background-color: #fff;
}
.container .article{
  width: calc(100% - 540px);
  background-color: #fff;
  margin-top: 10px;
  box-shadow: #aaa 0 1px 3px;
  box-sizing: border-box;
  padding: 10px;
  overflow: hidden;
  margin-left: 270px;
}
.container .article p{
  word-break:	 break-sentence;
	word-wrap:	 break-word;
}
.container .article .article-meta{
  padding: 20px 0;
}
.container .article .article-meta h1{
  font-size: 36px;
  padding: .3em 0;
}
.content hr{
  /* width: 56%; */
  margin: 10px auto;
}
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content p
{
  padding: .5em 0;
}
.content h2{
  font-size: 24px;
}